################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SpaceRush/v16/Browse.VC.opendb
/.vs/
